body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#top-header{
    background-color: green;
    padding: 0.5rem;
}
.navbar-brand > img {
    height: 10vh;
    margin-right: 6rem;
    margin-left: 4rem;
}
.btn{
    margin-right: 16rem;
}
.nav-link:hover{
    color: yellow !important;
}
.slide > img{
    height: 80vh;
}
.image > h2{
    text-align: center;
    margin-top: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Pic-Parent{
display: flex;
gap: 2rem;
padding: 1rem;
padding-left: 5rem;
}
.pics > img{
    height: 60vh;
    width: 60vh;
}
.text-parent{
    display: flex;
gap: 2rem;
}
.kitchen{
    margin-top: -3.5rem;
    margin-left: 7rem;
    background-color: blue;
    text-align: center;
    padding-top: 1rem;
    color: #fff;
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline-color: yellow;
    height: 10vh;
    width: 50vh;
}
.restaurant{
    margin-top: -3.5rem;
    margin-left: 7rem;
    background-color: blue;
    text-align: center;
    padding-top: 1rem;
    color: #fff;
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline-color: yellow;
    height: 10vh;
    width: 50vh;
    margin-left: 4rem;
}
.bathroom{
    margin-top: -3.5rem;
    margin-left: 7rem;
    background-color: blue;
    text-align: center;
    padding-top: 1rem;
    color: #fff;
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline-color: yellow;
    height: 10vh;
    width: 50vh;
    margin-left: 4rem;
}
.Connect{
    background-color: #ccc;
    text-align: center;
    height: 60vh;
    margin-top: 4rem;
    padding-top: 8rem;
}
.icon-div{
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
}
.icons > img{
    height: 10vh;
}
.wha > img{
    height: 2vh;
}
.fbb > img{
    height: 2vh;
}
.avif > img{
    height: 2vh;
}


@media screen and (max-width: 200px) {
    .navbar-brand > img {
        margin-left: -0.5rem;
    }
    .Pic-Parent{
        flex-direction: column;
    }
    .pics{
        margin-left: -4rem;
        width: 100% !important;
    }
    .kitchen{
      margin-top: -43rem;
      margin-left: 2rem;
      height: 10vh;
      width: 20rem;
    }
    .restaurant{
      margin-top: -26.5rem;
      margin-right: 40rem;
      margin-left: -15rem;
      height: 10vh;
      width: 20rem;
    }
    .bathroom{
        margin-left: -49rem;
     height: 10vh;
     width: 20rem;
    }
    
}
